.cube{
  height: 150px;
  width: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) translateX(40px);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%{
      transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
      transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube>div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;

}
.cube>div>span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#221e1e, #30e717);
  transform: rotateY(calc(90deg*var(--i))) translateZ(75px);
}
.top{
  position: absolute;
  height: 150px;
  width: 150px;
  left: 0;
  top: 0;
  background-color: #221e1e;
  transform: rotateX(90deg) translateZ(75px);
}

.top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  background-color: #14f300;
  transform: translateZ(-220px);
  filter: blur(15px);
}